<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
                script-src 'self' 'nonce-DFj918eJFKDj12qqQfi' https://www.google-analytics.com https://oss.maxcdn.com http://hackercollider.disqus.com;
                style-src 'self' 'nonce-afDFj82fKjffkaKasQ21fD' 'nonce-f93fjFefj1093ughHUy' http://fonts.googleapis.com http://maxcdn.bootstrapcdn.com;
                font-src 'self' data: http://fonts.gstatic.com http://maxcdn.bootstrapcdn.com;
                img-src 'self' data: https://www.google-analytics.com;
                child-src 'none';
                object-src 'none';">
    <!-- X-Frame-Options, X-XSS, X-Permitted-Cross-Domain here are used as a reminder, they must be set on http header to make them work -->
    <meta http-equiv="X-Frame-Options" content="sameorigin">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta http-equiv="X-Permitted-Cross-Domain-Policies" content="master-only">
    <meta name="robots" CONTENT="index,follow">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <link rel="alternate" hreflang="en" href="{{ site.url }}" />

    <!-- Critical CSS -->
    <style nonce=afDFj82fKjffkaKasQ21fD>{% include critical.css %}</style>

    {% feed_meta %}

    {% seo %}
</head>
