---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                    <span class="time-to-read">
                        {% assign time_to_read = page.content | number_of_words | divided_by: 220 %}
                        {% if time_to_read <= 1 %}
                            less than 1 minute read
                        {% else %}
                            {{time_to_read}} minutes read
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				        {{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<!-- Disqus comments -->
{% if page.comments %}
<span id="disqus">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = '{{ site.disqus_shortname }}';
              var disqus_title = '{{ page.title }}';
              var disqus_url = '{{ page.url | prepend: site.url }}';

              (function() {
                var dsq = document.createElement('script');
                dsq.async = true;
                dsq.type = 'text/javascript';
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>
              Please enable JavaScript to view the
              <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                comments powered by Disqus.
              </a>
            </noscript>
            </div>
        </div>
    </div>
</span>
{% endif %}

<hr>
